[submodule "Assets/SteamVR"]
	path = Assets/SteamVR
	url = https://github.com/igorrafael/steamvr_unity_plugin.git
[submodule "Assets/EditorVR"]
	path = Assets/EditorVR
	url = https://github.com/Unity-Technologies/EditorVR
	branch = development
